body {
    font-family: 'Raleway';
    color: #ffffff;
}


.carousel-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    z-index: 2; 
}

.bg-black {
    background-color: black;

}

h4 {
    text-transform: uppercase;

}

.fa-iconos {
    color: white;
    width: 2em;
}
